{% extends "site_base.html" %}
{% load i18n %}
{% block title %} {% trans "Add News" %} - {{ block.super }} {% endblock %}
{% block extra_head %}
    <link href="{{ STATIC_URL }}cartoview/css/custom.css" rel="stylesheet"/>
    <style>
        .controls > select, .controls > textarea, .controls > input, .controls > div {
            width: 100%;
        }
    </style>
{% endblock %}
{% block body_outer %}
    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-heading">
                    <div class="text-center">
                        <div class="row">
                            <div class="col-sm-9">
                                <h3 class="pull-left">{{ obj.title }}</h3>
                            </div>
                            {% if request.user == obj.publisher %}
                                <div class="col-sm-3">
                                    <a style="margin-top: 10px" class="btn btn-danger"
                                       href="{% url 'cartoview_news.delete' news_id=obj.id %}">Delete</a>
                                    <a style="margin-top: 10px" class="btn btn-default"
                                       href="{% url 'cartoview_news.edit' news_id=obj.id %}">Edit</a>
                                </div>
                            {% endif %}

                        </div>
                        <div class="row">
                            <div class="col-sm-6" style="text-align: left">
                                <h4>
                                    <small><em>{{ obj.date_created|date:"D d-M-Y f A" }}</em></small>
                                </h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            {% if obj.image %}
                                <a href="#" class="thumbnail">
                                    <img alt="Image" src="{{ obj.image.url }}">
                                </a>
                            {% endif %}
                        </div>
                    </div>

                    <p>
                        {{ obj.description }}
                    </p>

                </div>
                <div class="panel-footer">
                    <span class="label label-default">by : {{ obj.publisher.username }}</span>
                </div>
            </div>
            <hr>
        </div>
    </div>
{% endblock %}
