{% extends "site_base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}
{% block title %} {% trans "Add News" %} - {{ block.super }} {% endblock %}
{% block extra_head %}
    <link href="{{ STATIC_URL }}cartoview/css/custom.css" rel="stylesheet"/>
    <style>
        .controls > select, .controls > textarea, .controls > input, .controls > div {
            width: 100%;
        }
    </style>
{% endblock %}
{% block body_outer %}
    <div class="row">
        <p>
        <h3>Add News</h3>
        </p>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-6">
            <form method="post" enctype="multipart/form-data">
                {% crispy form %}
            </form>
        </div>
    </div>
{% endblock %}